{% extends 'base.html' %}

{% block meta %}
<title>U-League</title>
{% endblock meta %}

{% block content %}
  <div class = "login bg-dark justify-content-center" style="height: 100vh; margin: 0;">
    <br></br>
    <div class="mx-3 d-flex flex-row flex-wrap justify-content-center">
      <div class="alert alert-error alert-dismissible">
    <div class="card mx-auto" style="width: 22rem;">
        <div class="card-body mx-auto">
          <h1 class="card-title"><strong>U-League - D10</strong></h1>
        </div>
        <div class="card-body">
       

    
                        <div class="div d-flex justify-content-center mt-3">
                        <a class="btn btn-primary mx-1" type="button" value="Login" href="{% url 'example_app:login' %}">
                          Login
                          </a>
                      <br>
                        <a class="btn btn-primary mx-1" type="button" value="Register" href="{% url 'example_app:register' %}">
                          Register
                        </a>
                        </div>
                

        </div>
  
      </div>
    </div>
    </div>
{% endblock content %}