{% extends 'base.html' %}

{% block meta %}
<title>Beli Tiket</title>
<style>
    h1 {
      text-align: center;
      padding-bottom: 10px;
    }
    table {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
{% endblock meta %}

{% block content %}
<div>
<h1 >Beli Tiket</h1>
<br>
<table class="table table-striped" style="width:90%">
    <tbody>
    <form action="/beli_tiket/{{id_pertandingan}}" method="post">
      {% csrf_token %}
      <h2>Pilih Tiket :</h2>
        <select class="form-select" aria-label="Default select example" name="jenis_tiket">
            {% for line in list_tiket %}
            <option>{{line.0}}</option>
            {% endfor %}
          </select>
      <tr>
      </tr>
      <h3>Pilih Jenis Pembayaran :</h3>
      <tr>
          <select class="form-select" aria-label="Default select example" name="jenis_pembayaran">
              {% for line in list_pembayaran %}
              <option>{{line.0}}</option>
              {% endfor %}
            </select>
      </tr>
      <button class="btn btn-outline-success">Pilih</button>
    </form>
    </tbody>
  </table>
</div>
{% endblock content %}