{% extends 'base.html' %}

{% block meta %}
<title>Manage Pertandingan</title>
{% endblock meta %}

{% block content %}

{% if daftar_pertandingan %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card mx-auto mt-4">
        <div class="card-body">
          <h5 class="card-title text-center">LIST PERTANDINGAN GRUP STAGE</h5>
          <table class="table table-striped text-center text-center">
            <thead>
              <tr>
                <th>Grup</th>
                <th>Tim</th>
                <th>Waktu</th>
                <th>Pemenang</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>

              {% for pertandingan in daftar_pertandingan %}
              <tr>
                {% if forloop.counter == 1 %}
                <td rowspan="4">A</td>
                {% elif forloop.counter == 5 %} <td rowspan="4">B</td>
                {% elif forloop.counter == 9 %} <td rowspan="4">C</td>
                {% elif forloop.counter == 13 %} <td rowspan="4">D</td>
                {% else %}
                {% endif %}

                <!-- <td rowspan="4">A</td> -->
                <td>{{ pertandingan.1 }} VS {{ pertandingan.2 }}</td>
                <td>{{ pertandingan.0 }}</td>


                {% if pertandingan.3 == 'selesai' %}
                <td>{{ pertandingan.4}}</td>
                <td>
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#myModalA{{forloop.counter}}" style="margin-bottom: 2%;">Lihat Peristiwa Tim
                    1</button> <br>
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#myModalB{{forloop.counter}}" style="margin-bottom: 2%;">Lihat Peristiwa Tim
                    2</button> <br>
                </td>

                {% elif pertandingan.3 == 'belum mulai' %}
                <td> - </td>
                <td>Belum Waktunya</td>
                {% else %}
                <td> - </td>
                <td>
                  <a class="btn btn-success" href="{% url 'pertandingan:mulai_pertandingan' pertandingan.7  %}" style="margin-bottom: 2%;">Mulai</a><br>
                </td>
                {% endif %}
              </tr>
              {% endfor %}
              <tr>
                <td colspan="5" style="text-align: center;">
                  <a href="#" class="btn btn-outline-primary">Finish</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card mx-auto mt-4">
        <div class="card-body">
          <h5 class="card-title text-center">LIST PERTANDINGAN GRUP STAGE</h5>
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <th>Grup</th>
                <th>Tim</th>
                <th>Waktu</th>
                <th>Pemenang</th>
                <th>Action</th>
              </tr>
            </thead>
            {% for pertandingan in daftar_pertandingan %}
            <tr>
              {% if forloop.counter == 1 %}
              <td rowspan="4">A</td>
              {% elif forloop.counter == 5 %} <td rowspan="4">B</td>
              {% elif forloop.counter == 9 %} <td rowspan="4">C</td>
              {% elif forloop.counter == 13 %} <td rowspan="4">D</td>
              {% else %}
              {% endif %}

              <!-- <td rowspan="4">A</td> -->
              <td>{{ pertandingan.1 }} VS {{ pertandingan.2 }}</td>
              <td>{{ pertandingan.0 }}</td>
              <td>{{ pertandingan.4}}</td>

              <td>
                <a class="btn btn-warning" href="#" style="margin-bottom: 2%;">Update</a><br>
              </td>
            </tr>
            {% endfor %}

            <tr>
              <td colspan="5" style="text-align: center;">
                <a href="#" class="btn btn-outline-primary">Save</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% for pertandingan in daftar_pertandingan %}
{% if pertandingan.3 == 'selesai' %}
<div class="modal fade in" id="myModalA{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ pertandingan.1 }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <th>Nama Pemain</th>
              <th>Peristiwa</th>
            </tr>
          </thead>
          <tbody>

            {% for peristiwa in pertandingan.5 %}
            <tr>
              <td>{{peristiwa.0}}</td>
              <td>{{peristiwa.1}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="myModalB{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ pertandingan.2 }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <th>Nama Pemain</th>
              <th>Peristiwa</th>
            </tr>
          </thead>
          <tbody>
            {% for peristiwa in pertandingan.6 %}
            <tr>
              <td>{{peristiwa.0}}</td>
              <td>{{peristiwa.1}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endfor %}

{% else %}
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-3" style="margin-top: -50px; background-color: #BCE0E9;">
    <div class="card-body">
      <h5 class="card-title text-center">PERTANDINGAN BELUM LENGKAP!</h5>
      <p class="card-text">KLIK TOMBOL NEXT UNTUK MEMBUAT PERTANDINGAN</p>
      <button type="button" class="btn btn-outline-primary">NEXT</button>
    </div>
  </div>
</div>

{% endif %}




{% endblock content %}