{% extends 'base.html' %}

{% block meta %}
<title>Pilih Peristiwa</title>
{% endblock meta %}

{% block content %}
<h5 class="modal-title" id="tambahPeristiwaLabel">Pilih Peristiwa TIM 1</h5>
<div class="mx-auto">
    <table class="table text-center	">
        <thead>
            <tr>
                <th>Nama Pemain</th>
                <th>Peristiwa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <select class="form-control">
                            <option value="">-- Pilih Pemain --</option>
                            <option value="pemain1">Pemain 1</option>
                            <option value="pemain2">Pemain 2</option>
                            <option value="pemain3">Pemain 3</option>
                            <option value="pemain4">Pemain 4</option>
                            <option value="pemain5">Pemain 5</option>
                            <option value="pemain6">Pemain 6</option>
                            <option value="pemain7">Pemain 7</option>
                            <option value="pemain8">Pemain 8</option>
                            <option value="pemain9">Pemain 9</option>
                            <option value="pemain10">Pemain 10</option>
                            <option value="pemain11">Pemain 11</option>
                            <option value="pemain12">Pemain 12</option>
                            <option value="pemain13">Pemain 13</option>
                            <option value="pemain14">Pemain 14</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control">
                            <option value="">-- Pilih Peristiwa --</option>
                            <option value="kartu kuning">Kartu Kuning</option>
                            <option value="kartu merah">Kartu Merah</option>
                            <option value="assist">Assist</option>
                            <option value="gol">Gol</option>
                        </select>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary mx-auto">Selesai</button>

</div>


{% endblock content %}